.container{
    margin-top: 20px;
    text-align: center;
    outline: 1px solid black;
}
h6{
    margin-top: 10px;
}
.slider {
    -webkit-appearance: none;
    width: 400px;
    height: 10px;
    background:black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #14a3b8;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #14a3b8;
    cursor: pointer;
  }
#array{
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    margin-bottom: 20px;
    height: 500px;
}
#green_btns{
    display: flex;
    width:fit-content;
    margin: 0px auto;
}
#sort_btn{
    margin-left: 10px;
}